.dark{
    background-color: black;
}
.menu{
    margin-left: 100px;
    margin-top: 20px;
    color:rgb(245, 245, 245);
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    display: inline-block;
    font-weight: 300px;
}

.menu:hover {
    color: darkgray;
}

.title{
    color: rgb(245, 245, 245);
    margin-left: 350px;
    width: 800px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 45px;
    margin-top: 100px;
    display: block;
    
}

.under_title{
    color: rgb(185, 185, 252);
    font-family: 'Times New Roman', Times, serif;
    font-size: 14px;
    margin-top: 30px;
    margin-bottom: 40px;
    display: inline-block;
}

.first{
    margin-left: 350px;
}

.image{
    width: 500px;
    display: block;
    margin: 0 auto;
    border: 3px solid rgb(223, 220, 245);
}

.descript{
    width: 500px;
    display: block;
    margin: 50px auto;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(223, 220, 245);
    font-size: 15px;
}

header {
    position: sticky;
    top: 0;
    background-color: rgb(135, 139, 222);
}

.subscribe{
    padding: 10px;
    background-color: rgb(135, 151, 222);
}

.subscribe input{
    width: 200px;
    padding: 5px;
}

.subscribe button{
    background-color: rgb(220, 221, 245);
    border: none;
    padding: 5px 10px;
    color: black;
    font-weight: bold;
}

.review{
    margin-top: 50px;
    border: 1px solid ghostwhite;
    padding: 20px;
}

.rtitle{
    color: rgb(245, 245, 245);
}

.rating{
    font-size: 24px;
    margin-bottom: 10px;
}

.star{
    color: rgb(0, 13, 255);
}

input[type="text"], select, textarea{
    width: 100%;
    padding: 12px;
    border: 1px solid rgb(255, 255, 255);
    margin-top: 10px;
    margin-bottom: 20px;
    background-color: rgb(107, 108, 135);
    color: black;
}

.container{
    color: darkgray;
}

::placeholder{
    color: ghostwhite;
    opacity: 0.5;
}